#home h2 {
	font-size: 5em;
}
#about .aboutTextWrapper {
	font-size: 1em;
	padding: 3px;
}
#about p {
	padding: 3px;
}
#contact form, #contact p {
	margin: 0;
	width: 95%;
}
#contact form {
	margin-top: 1em;
}